<div class="row">
  <div class="col-12" id="bigBox" #bigBox>
    <div class="w-100 page-addr-top position-relative">
      <img class="w-100 page-address1" src="./assets/img/page-address1.png" alt="">
      <p class="position-absolute page-rank text-center">您的名次为<span class="px-1">150</span>名</p>
    </div>

    <div class="page-addr-content py-3">
      <input class="pl-2 py-2 w-100" type="text" placeholder="姓名">
      <input class="pl-2 py-2 mt-3 w-100" type="tel" placeholder="电话">
      <textarea class="w-100 pl-2 py-2 mt-3 mb-3 align-middle" name="" placeholder="地址"></textarea>
    </div>
    <div>
      <img class="w-75 mt-4 btn_affirm" src="./assets/img/btn_affirm.png" alt="">
    </div>

  </div>
</div>
