<div class="row">
  <div class="col-12 bigBox position-relative" #bigBox>
    <div class="w-100 rank_top"></div>
    <div class="w-100 rank_content"></div>
    <div class="w-100 rank_bottom"></div>
    <ul class="w-75 bg-white position-absolute px-2 rank_list">
      <li class="rank_list_top py-2">
        <span class="float-left text-center">排名</span>
        <span class="float-left text-center">昵称</span>
        <span class="float-left text-center">答题数</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          <img class="align-middle" src="./assets/img/page2_1.png" alt="">
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          <img class="align-middle" src="./assets/img/page2_2.png" alt="">
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          <img class="align-middle" src="./assets/img/page2_3.png" alt="">
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>
      <li class="py-2">
        <span class="float-left text-center">
          4
        </span>
        <span class="float-left text-center">马毅马育</span>
        <span class="float-left text-center">99</span>
      </li>

    </ul>
  </div>
</div>
