/*
.rank_top {
  height: 10%;
  background: url('./../../assets/img/page2_01.jpg') no-repeat;
  background-size: 100% 100%;
}

.rank_content {
  height: 86%;
  background: url('./../../assets/img/page2_02.jpg') 0 0 no-repeat,
  url('./../../assets/img/page2_05.jpg') 0 20% no-repeat,
  url('./../../assets/img/page2_04.jpg') 0 70% no-repeat;
  background-size: 100% 20%, 100% 70%, 100% 100%;
}

.rank_bottom {
  height: 4%;
  background: url('./../../assets/img/page2_03.jpg') no-repeat;
  background-size: 100% 100%;
  margin-top: -1px;
}
*/
.smallBg {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  z-index: -1;
}
.rank_content{
  overflow: hidden;
}
.rank_list {
  height: 77%;
  width: 90%;
  z-index: 99;
  margin-left:5%;
  margin-top:29%;
  border-radius: 2%;
  .rank_list_top {
    color: #888;
    span {
      width: 33%;
      border-right: 1px solid #eee;
      &:nth-of-type(3) {
        border-right: 0;
      }
    }
  }
  ul.rank_list_name {
    margin: 0;
    padding: 0;
    height: 90%;
    list-style-type: none;
    overflow: scroll;
    > li {
      height: 50px;
      line-height: 50px;
      border-top: 1px solid #eee;
      span {
        width: 33.3%;
        img {
          width: 22%;

        }
      }
    }
  }
}
