<div class="row">
  <img class="position-absolute w-100 h-100 unifyBg" src="./assets/img/page-share1.jpg" alt="">
  <img class="position-absolute smallBg" src="./assets/img/page-rank.png" alt="">
  <div class="col-12 rank-content position-absolute w-100 h-100 px-0">
    <div class="bg-white rank_list">
      <div class="rank_list_top py-2">
        <span class="float-left text-center">排名</span>
        <span class="float-left text-center">昵称</span>
        <span class="float-left text-center">答题数</span>
      </div>
      <ul class="rank_list_name mt-1">
        <li *ngFor="let rank of rankList, let i=index">
          <span class="float-left text-center">
            <img *ngIf="i < 3" class="align-middle" src='./assets/img/page2_{{i+1}}.png' alt="">
            <span *ngIf="i >= 3">{{i+1}}</span>
          </span>
          <span class="float-left text-center text-truncate px-1">{{rank.nickName}}</span>
          <span class="float-left text-center">{{rank.highestScore}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
