/*前20名*/
@mixin location($width,$top,$left) {
  width: $width;
  top: $top;
  left: $left;
}

@media screen and (max-height: 480px) {
  .bigBox {
    background: #1ec3fd;
    padding-bottom: 40px;
  }
  .addr-success img:nth-of-type(2) {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 63%;
    margin-top: 10%;
  }

}

.page-addr-top {
  padding: 8% 5% 0 5%;
  .page-rank {
    z-index: 99;
    color: #eee;
    @include location(100%, 23%, 0);
    span {
      color: #fefb27;
    }
  }
}

.page-addr-content {
  width: 90%;
  margin: -1px 0 0 5%;
  padding: 0 5%;
  background: url('./../../assets/img/page-address2.png') no-repeat 0 0;
  background-size: 100% 100%;
  input, textarea {
    border-color: #2dcffe;
  }
}

/*前200名*/
.page-get {
  width: 84%;
  margin-left: 8%;
  margin-top: 8%;
}

.page-get-input {
  border-color: #35c3f6;
  @include location(70%, 56%, 15%);
}

.btn_affirm {
  margin-left: 12.5%;
}

/*200名之后*/
.page-get-notWin {
  width: 84%;
  margin-left: 8%;
  margin-top: 8%;
}

/*前50名领取成功透明层*/
.addr-success {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 101;
  img:nth-of-type(1) {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;
  }
  img:nth-of-type(2) {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 63%;
  }
}

.shade {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}
