<div class="row">
  <img class="position-absolute w-100 h-100 unifyBg"  src="./assets/img/page-share1.jpg" alt="">
  <div class="col-12 px-0" #bigBox>
    <div class="w-100 position-relative">
      <img class="page-get" src="./assets/img/page-get.png" alt="">
      <input class="position-absolute page-get-input text-center py-2" type="tel" maxlength="11"
             placeholder="请输入手机号，领取优惠券">
    </div>
    <img class="w-75 mt-5 btn_affirm" src="./assets/img/btn_affirm.png" alt="">
  </div>
</div>
