@mixin location($width,$top,$left) {
  width: $width;
  top: $top;
  left: $left;
}

.page-get {
  width: 84%;
  margin-left: 8%;
  margin-top: 8%;
}

.page-get-input {
  border-color: #35c3f6;
  @include location(70%, 75%, 15%);
}

.btn_affirm {
  margin-left: 12.5%;
}
