@mixin location($width,$top,$left) {
  width: $width;
  top: $top;
  left: $left;
}

.page-get {
  @include location(84%, 8%, 8%);
}

.page-get-input {
  border-color: #35c3f6;
  @include location(70%, 39%, 15%);
}

.btn_affirm {
  @include location(75%, 60%, 12.5%);
}
