<div class="row bigBox" #bigBox>
  <div class="col-12 mt-4">
    <img class="w-100 img-fluid" src="./assets/img/page1_02_content1.png">
    <div class="w-100 question_bottom">
      <p>在狭窄的坡路会车，如遇下坡车不减速、不让行，应持续鸣喇叭迫使其停车让位。（单选题）</p>
    </div>
  </div>
  <div class="col-12">
    <div class="answer1">
      A、交替变换远近光灯绕过行人交替变换远近光灯绕过行人交替变换远近光灯绕过行人交替变换远近光灯绕过行人
    </div>
    <div class="answer2">
      A、交替变换远近光灯绕过行人
    </div>
    <div class="answer3">
      A、交替变换远近光灯绕过行人
    </div>
    <div class="answer4">
      A、交替变换远近光灯绕过行人
    </div>
  </div>
</div>
<ng2-slim-loading-bar></ng2-slim-loading-bar>


