@mixin location($width,$top,$left) {
  width: $width;
  top: $top;
  left: $left;
}

.page-success {
  width: 84%;
  margin-left: 8%;
  margin-top: 8%;
}

.page-rank {
  color: #eee;
  @include location(100%, 22%, 0);
  span {
    color: #fefb27;
  }

}

.button_use {
  margin-left: 12.5%;
}
