<div class="row bg_blue" [@flyIn]="'inactive'">
  <div class="col-12 px-0 position-relative">
    <img class="w-100" src="./assets/img/home-page_02.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_03.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_04.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_05.jpg" alt="">
    <img class="w-75 position-absolute btn_startAnswer" src="./assets/img/btn_startAnswer.png" alt="">
    <img class="w-25 position-absolute currentRank" src="./assets/img/currentRank.png" alt="">
    <img class="w-25 position-absolute btn_rankingList" src="./assets/img/btn_rankingList.png" alt="">
  </div>
</div>
