<div class="row bg_blue" [@flyIn]="'inactive'">
  <div class="col-12 px-0 position-relative">
    <img class="w-100" [src]="onOrOff" alt="">
    <img class="w-100" src="./assets/img/home-page_03.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_04.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_05.jpg" alt="">


    <img class="w-25 position-absolute btn_currentRank" src="./assets/img/btn_currentRank.png" alt="">
    <img [routerLink]="['/rankingList']" class="w-25 position-absolute btn_rankingList" src="./assets/img/btn_rankingList.png"
         alt="">
    <p *ngIf="isRanking" class="position-absolute userRanking text-center">{{userRanking}}</p>
    <p *ngIf="!isRanking" class="position-absolute notRanking text-center">未上榜</p>


    <div *ngIf="!IsPastDate">
      <img class="w-75 position-absolute btn_startAnswer" [routerLink]="['/answer']" src="./assets/img/btn_startAnswer.png" alt="">
    </div>
    <div *ngIf="IsPastDate">
      <img class="w-75 position-absolute btn_startAnswer" [routerLink]="['/get']" src="./assets/img/btn_get.png" alt="">
    </div>
  </div>
</div>
<div id="mess_loaddinghtml5" *ngIf="isHaveLoad">
  <div class="loadding">
    <div class="loaddingtishi"></div>
    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  </div>
</div>
