@mixin location($left,$top) {
  left: $left;
  top: $top;
}

.bg_blue {
  .btn_startAnswer, .btn_rankingList, .currentRank {
    z-index: 99;
  }
  .btn_startAnswer {
    @include location(12.5%, 55%)
  }
  .btn_rankingList {
    top: 18%;
    right: 20%;
  }
  .btn_currentRank {
    @include location(20%, 18%)
  }
  .btn_end{
    width: 40%;
    @include location(30%, 18%)
  }
}
