.bg_blue {
  background: #2dcffe;
  .btn_startAnswer, .btn_rankingList, .currentRank {
    z-index: 99;
  }
  .btn_startAnswer {
    top: 55%;
    left: 12.5%;
  }
  .btn_rankingList {
    top: 22%;
    right: 10%;
  }
  .currentRank {
    top: 22%;
    left: 10%;

  }
}
