<div class="row bg_blue" [@flyIn]="'inactive'">
  <div class="col-12 px-0 position-relative">
    <img class="w-100" src="./assets/img/home-page_02.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_03.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_04.jpg" alt="">
    <img class="w-100" src="./assets/img/home-page_05.jpg" alt="">
    <img class="w-75 position-absolute btn_startAnswer" src="./assets/img/btn_startAnswer.png" alt="">
    <img *ngIf="!IsPastDate" class="w-25 position-absolute btn_currentRank" src="./assets/img/btn_currentRank.png" alt="">
    <img *ngIf="!IsPastDate" class="w-25 position-absolute btn_rankingList" src="./assets/img/btn_rankingList.png" alt="">
    <img *ngIf="IsPastDate" class="position-absolute btn_end" src="./assets/img/btn_end.png" alt="">
  </div>
</div>
