@mixin location($left,$top) {
  left: $left;
  top: $top;
}

.bg_blue {
  background: #2dcffe;
  .btn_startAnswer, .btn_rankingList, .currentRank {
    z-index: 99;
  }
  .btn_startAnswer {
    @include location(12.5%, 55%)
  }
  .btn_rankingList {
    top: 22%;
    right: 10%;
  }
  .currentRank {
    @include location(10%, 22%)
  }
}
