@mixin bgImg($name,$size) {
  background: url('../../../assets/img/' + $name) no-repeat;
  background-size: $size;
}

.bigBox {
  //@include bgImg('page1_02.jpg', 100% 100%);
}

.question_bottom {
  @include bgImg('page1_02_content2.png', 100% 100%);
  min-height: 120px;
  margin-top: -1px;
  p {
    font-weight: 900;
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.answer1, .answer2, .answer3, .answer4 {
  @include bgImg('btn_abcd.png', 100% 100%);
  margin-bottom: 1rem;
  padding: 1rem 2.2rem;
  color: #ffffff;
}

/*答题错误*/
.error-img {
  width: 80%;
  left: 10%;
  top: 20%;
  height: 60%;
  z-index: 101;
  background: url("../../../assets/img/answer/error-img.png") no-repeat center;
  background-size: 100%;
}

/*答题错误*/
.allRight-img {
  width: 80%;
  left: 10%;
  top: 20%;
  height: 60%;
  z-index: 101;
  background: url("../../../assets/img/answer/allRight-img.png") no-repeat center;
  background-size: 100%;
}

/*答题错误*/
.time-over {
  width: 80%;
  left: 10%;
  top: 20%;
  height: 60%;
  z-index: 101;
  background: url("../../../assets/img/answer/time-over.png") no-repeat center;
  background-size: 100%;
}

.bt-img {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 12%;
}

.shade {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}
