/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

.unifyBg {
  top: 0;
  bottom: 0;
  z-index: -2;
}

/**
  加载条儿样式 --start--
 */
.slim-loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.slim-loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: rgba(46, 204, 113, 1.0);
  color: rgba(46, 204, 113, 1.0);
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;
}
/**
  加载条儿样式 --end--
 */
