/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

.unifyBg {
  top: 0;
  bottom: 0;
  z-index: -2;
}

body {
  background: url("assets/img/page1_02.jpg") no-repeat;
  background-size: 100% 210%;
}
